* {
    box-sizing: border-box;
}

body {
    background-color: #f8f8f8;
    font-family: Arial, sans-serif;
}

.container {
    margin: 50px auto;
    padding: 20px;
    background-color: #928d8d;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    max-width: 600px;

}

h1 {
    text-align: center;
    color: #004d28;
}

form {
    display: flex;
    margin-bottom: 20px;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #05753db6;
    border-image: linear-gradient(to right,,#0e3b25b6,#05753db6,transparent) 1;
}

button[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #055015;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid #00723d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}

li:last-child {
    border-bottom: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.button--light {
    background-color: #fff;
    border: none;
    font-weight: 700;
}

.button--light:hover {
    cursor: pointer;
}

.alertdiv {
    margin: 0.5rem auto;
    background-color: brown;
    padding: 0.5rem;
    color: #fff
}
.alertdiv2 {
    margin: 0.5rem auto;
    background-color: rgb(225, 132, 2);
    padding: 0.5rem;
    color: #fff
}
.alertdiv3 {
    margin: 0.5rem auto;
    background-color: rgb(22, 204, 12);
    padding: 0.5rem;
    color: #fff
}
.delete-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #c66f28;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin: 2rem auto;
    cursor: pointer;
    display: none;
}
.delete-button.open {
    display: block;
}